{% extends 'core/base.html' %}

{% block content %}

 <h1 style="margin: 20px 0;"><i>VICX AUTOMOBILE</i></h1>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="..." height="300px" width="300px">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">${{product.price}}</p>
                        <p>{{product.description}}</p>
                        <a href="{% url 'core:detail' product.pk %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content%}